body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
} 

.game-details {
    color: #B8C6DC;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
  }